USE [master]
GO
/****** Object:  Database [QUANLYHANGHOA]    Script Date: 11/6/2017 8:49:06 AM ******/
CREATE DATABASE [QUANLYHANGHOA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYHANGHOA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QUANLYHANGHOA.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLYHANGHOA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QUANLYHANGHOA_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYHANGHOA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYHANGHOA]
GO
/****** Object:  Table [dbo].[CHITIETNHAP]    Script Date: 11/6/2017 8:49:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNHAP](
	[CHITIETNHAPID] [int] IDENTITY(1,1) NOT NULL,
	[MATHANGID] [int] NULL,
	[SOLUONG] [int] NULL,
	[GIANHAP] [int] NULL,
	[NHAPID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CHITIETNHAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETXUAT]    Script Date: 11/6/2017 8:49:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETXUAT](
	[CHITIETXUATID] [int] IDENTITY(1,1) NOT NULL,
	[MATHANGID] [int] NULL,
	[SOLUONG] [int] NULL,
	[GIABAN] [int] NULL,
	[XUATID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CHITIETXUATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 11/6/2017 8:49:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[CHUCVUID] [int] IDENTITY(1,1) NOT NULL,
	[TENCV] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CHUCVUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/6/2017 8:49:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[KHACHHANGID] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](max) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [int] NULL,
	[SDT] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[KHACHHANGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHO]    Script Date: 11/6/2017 8:49:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MATHANGID] [int] NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 11/6/2017 8:49:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MATHANGID] [int] IDENTITY(1,1) NOT NULL,
	[TENMH] [nvarchar](max) NULL,
	[DONVITINH] [nvarchar](max) NULL,
	[THANHPHAN] [nvarchar](max) NULL,
	[NHASANXUATID] [int] NULL,
 CONSTRAINT [PK__MATHANG__A602F6E78BF8F2DC] PRIMARY KEY CLUSTERED 
(
	[MATHANGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/6/2017 8:49:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[NHANVIENID] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](max) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [int] NULL,
	[SDT] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[USERNAME] [nvarchar](max) NULL,
	[PASSWORD] [nvarchar](max) NULL,
	[CHUCVUID] [int] NULL,
	[PHONGBANID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NHANVIENID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAP]    Script Date: 11/6/2017 8:49:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAP](
	[NHAPID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[NGAY] [datetime] NULL,
	[DIADIEMNHAP] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[NHAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 11/6/2017 8:49:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[NHASANXUATID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](max) NULL,
	[NAMTHANHLAP] [int] NULL,
 CONSTRAINT [PK__NHASANXU__5F9520564321C1FE] PRIMARY KEY CLUSTERED 
(
	[NHASANXUATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 11/6/2017 8:49:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[PHONGBANID] [int] IDENTITY(1,1) NOT NULL,
	[TENPB] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PHONGBANID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[XUAT]    Script Date: 11/6/2017 8:49:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XUAT](
	[XUATID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[KHACHHANGID] [int] NULL,
	[NGAY] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[XUATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CHITIETNHAP] ON 

INSERT [dbo].[CHITIETNHAP] ([CHITIETNHAPID], [MATHANGID], [SOLUONG], [GIANHAP], [NHAPID]) VALUES (6, 2, 5, 110000, 11)
SET IDENTITY_INSERT [dbo].[CHITIETNHAP] OFF
SET IDENTITY_INSERT [dbo].[CHITIETXUAT] ON 

INSERT [dbo].[CHITIETXUAT] ([CHITIETXUATID], [MATHANGID], [SOLUONG], [GIABAN], [XUATID]) VALUES (1, 1, 4, 50000, 2)
INSERT [dbo].[CHITIETXUAT] ([CHITIETXUATID], [MATHANGID], [SOLUONG], [GIABAN], [XUATID]) VALUES (2, 12, 4, 50000, 2)
INSERT [dbo].[CHITIETXUAT] ([CHITIETXUATID], [MATHANGID], [SOLUONG], [GIABAN], [XUATID]) VALUES (6, 3, 2, 50000, 16)
SET IDENTITY_INSERT [dbo].[CHITIETXUAT] OFF
SET IDENTITY_INSERT [dbo].[CHUCVU] ON 

INSERT [dbo].[CHUCVU] ([CHUCVUID], [TENCV]) VALUES (1, N'Nhân viên')
INSERT [dbo].[CHUCVU] ([CHUCVUID], [TENCV]) VALUES (3, N'Kê toán')
INSERT [dbo].[CHUCVU] ([CHUCVUID], [TENCV]) VALUES (9, N'Giám đốc')
SET IDENTITY_INSERT [dbo].[CHUCVU] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([KHACHHANGID], [HOTEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI]) VALUES (17, N'Lê Thị Kiều Trang', CAST(N'1996-10-20 16:24:28.563' AS DateTime), 0, N'12336666', N'Nam Đàn - Nghệ An')
INSERT [dbo].[KHACHHANG] ([KHACHHANGID], [HOTEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI]) VALUES (18, N'Nguyễn Thị Vân Anh', CAST(N'1996-01-14 00:00:00.000' AS DateTime), 0, N'34546787', N'Thái Bình')
INSERT [dbo].[KHACHHANG] ([KHACHHANGID], [HOTEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI]) VALUES (19, N'Nguyễn Thị Ngọc Ánh', CAST(N'1995-01-28 00:00:00.000' AS DateTime), 0, N'1234567', N'Quảng Nam')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[KHO] ON 

INSERT [dbo].[KHO] ([ID], [MATHANGID], [SOLUONG]) VALUES (4, 1, 13)
INSERT [dbo].[KHO] ([ID], [MATHANGID], [SOLUONG]) VALUES (5, 2, 13)
INSERT [dbo].[KHO] ([ID], [MATHANGID], [SOLUONG]) VALUES (6, 3, 6)
SET IDENTITY_INSERT [dbo].[KHO] OFF
SET IDENTITY_INSERT [dbo].[MATHANG] ON 

INSERT [dbo].[MATHANG] ([MATHANGID], [TENMH], [DONVITINH], [THANHPHAN], [NHASANXUATID]) VALUES (1, N'Son dưỡng', N'Chiếc', N'vitamin E, coconut oil', 2)
INSERT [dbo].[MATHANG] ([MATHANGID], [TENMH], [DONVITINH], [THANHPHAN], [NHASANXUATID]) VALUES (2, N'Son dưỡng chuyển màu', N'Chiếc', N'vitamin E', 1)
INSERT [dbo].[MATHANG] ([MATHANGID], [TENMH], [DONVITINH], [THANHPHAN], [NHASANXUATID]) VALUES (3, N'Mascara dưỡng mi', N'Chiếc', N'coconut oil, vitamin E', 2)
SET IDENTITY_INSERT [dbo].[MATHANG] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([NHANVIENID], [HOTEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [USERNAME], [PASSWORD], [CHUCVUID], [PHONGBANID]) VALUES (1, N'Giang Thần', CAST(N'1994-01-19 00:00:00.000' AS DateTime), 1, N'09876543', N'Hà Nội', N'GiangThan', N'tieuhy', 1, 1)
INSERT [dbo].[NHANVIEN] ([NHANVIENID], [HOTEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [USERNAME], [PASSWORD], [CHUCVUID], [PHONGBANID]) VALUES (2, N'Vương Thị Lê', CAST(N'1996-10-20 00:00:00.000' AS DateTime), 0, N'09876543', N'Nghệ An', N'Vuongle', N'vuongle', 3, 3)
INSERT [dbo].[NHANVIEN] ([NHANVIENID], [HOTEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [USERNAME], [PASSWORD], [CHUCVUID], [PHONGBANID]) VALUES (3, N'Nguyễn Thị Vân Anh', CAST(N'1996-01-10 00:00:00.000' AS DateTime), 0, N'098765433', N'Thái Bình', N'VanAnh', N'uaena', 9, 1)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[NHAP] ON 

INSERT [dbo].[NHAP] ([NHAPID], [NHANVIENID], [NGAY], [DIADIEMNHAP]) VALUES (11, 1, CAST(N'2017-09-03 00:00:00.000' AS DateTime), N'Hà Nội')
SET IDENTITY_INSERT [dbo].[NHAP] OFF
SET IDENTITY_INSERT [dbo].[NHASANXUAT] ON 

INSERT [dbo].[NHASANXUAT] ([NHASANXUATID], [TEN], [NAMTHANHLAP]) VALUES (1, N'Maybe Line', 2006)
INSERT [dbo].[NHASANXUAT] ([NHASANXUATID], [TEN], [NAMTHANHLAP]) VALUES (2, N'Vichy', 1900)
INSERT [dbo].[NHASANXUAT] ([NHASANXUATID], [TEN], [NAMTHANHLAP]) VALUES (3, N'Karmark', 2000)
SET IDENTITY_INSERT [dbo].[NHASANXUAT] OFF
SET IDENTITY_INSERT [dbo].[PHONGBAN] ON 

INSERT [dbo].[PHONGBAN] ([PHONGBANID], [TENPB]) VALUES (1, N'Quản lý')
INSERT [dbo].[PHONGBAN] ([PHONGBANID], [TENPB]) VALUES (3, N'Tài chính')
INSERT [dbo].[PHONGBAN] ([PHONGBANID], [TENPB]) VALUES (4, N'Bảo vệ')
SET IDENTITY_INSERT [dbo].[PHONGBAN] OFF
SET IDENTITY_INSERT [dbo].[XUAT] ON 

INSERT [dbo].[XUAT] ([XUATID], [NHANVIENID], [KHACHHANGID], [NGAY]) VALUES (2, 2, 17, CAST(N'2017-11-06 00:00:00.000' AS DateTime))
INSERT [dbo].[XUAT] ([XUATID], [NHANVIENID], [KHACHHANGID], [NGAY]) VALUES (16, 2, 20, CAST(N'2017-11-06 00:00:00.000' AS DateTime))
INSERT [dbo].[XUAT] ([XUATID], [NHANVIENID], [KHACHHANGID], [NGAY]) VALUES (17, 3, 22, CAST(N'2017-11-01 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[XUAT] OFF
ALTER TABLE [dbo].[CHITIETNHAP]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETNH__MATHA__22AA2996] FOREIGN KEY([MATHANGID])
REFERENCES [dbo].[MATHANG] ([MATHANGID])
GO
ALTER TABLE [dbo].[CHITIETNHAP] CHECK CONSTRAINT [FK__CHITIETNH__MATHA__22AA2996]
GO
ALTER TABLE [dbo].[CHITIETNHAP]  WITH CHECK ADD FOREIGN KEY([NHAPID])
REFERENCES [dbo].[NHAP] ([NHAPID])
GO
ALTER TABLE [dbo].[CHITIETXUAT]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETXU__MATHA__2C3393D0] FOREIGN KEY([MATHANGID])
REFERENCES [dbo].[MATHANG] ([MATHANGID])
GO
ALTER TABLE [dbo].[CHITIETXUAT] CHECK CONSTRAINT [FK__CHITIETXU__MATHA__2C3393D0]
GO
ALTER TABLE [dbo].[CHITIETXUAT]  WITH CHECK ADD FOREIGN KEY([XUATID])
REFERENCES [dbo].[XUAT] ([XUATID])
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK__KHO__MATHANGID__15502E78] FOREIGN KEY([MATHANGID])
REFERENCES [dbo].[MATHANG] ([MATHANGID])
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK__KHO__MATHANGID__15502E78]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [FK__MATHANG__NHASANX__1273C1CD] FOREIGN KEY([NHASANXUATID])
REFERENCES [dbo].[NHASANXUAT] ([NHASANXUATID])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK__MATHANG__NHASANX__1273C1CD]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([CHUCVUID])
REFERENCES [dbo].[CHUCVU] ([CHUCVUID])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([PHONGBANID])
REFERENCES [dbo].[PHONGBAN] ([PHONGBANID])
GO
ALTER TABLE [dbo].[NHAP]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([NHANVIENID])
GO
ALTER TABLE [dbo].[XUAT]  WITH CHECK ADD FOREIGN KEY([KHACHHANGID])
REFERENCES [dbo].[KHACHHANG] ([KHACHHANGID])
GO
ALTER TABLE [dbo].[XUAT]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([NHANVIENID])
GO
USE [master]
GO
